.sidebar-title {
  font-size: 22px;
  font-weight: normal;
  margin-bottom: 20px;
}

.sidebar {
  width: 15%;
  position: fixed;
  height: 100%;
  border-right: 2px solid #e5e5e5;
  z-index: 0;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.sidebar {
  overflow-y: scroll; /* Enables vertical scrolling */
  scrollbar-width: none; /* For Firefox */
  -ms-overflow-style: none; /* For Internet Explorer/Edge */
}

/* Custom Scrollbar */
.sidebar::-webkit-scrollbar {
  width: 8px; /* Scrollbar width */
}

.sidebar::-webkit-scrollbar-track {
  background: #f1f1f1; /* Track color */
  border-radius: 10px;
}

.sidebar::-webkit-scrollbar-thumb {
  background: #888; /* Scrollbar color */
  border-radius: 10px;
}

.sidebar::-webkit-scrollbar-thumb:hover {
  background: #555; /* Color on hover */
}

.logo-container {
  margin-bottom: 4rem;
}
.logo-container h1 {
  margin-top: 1.3rem;
}
