.box {
  height: 35px;
  display: flex;
  cursor: pointer;
  padding: 10px 10px;
  background: #fff;
  border-radius: 30px;
  align-items: center;
  /* justify-content: center; */
  margin-top: 5px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.3);
}

.box input {
  width: 0;
  outline: none;
  border: none !important;
  font-weight: 500;
  transition: 0.8s;
  background: transparent !important;
}
.box span .fas {
  font-size: 18px;
  color: orangered;
  border: none;
}
